<footer class="row">
  <hr>
    <p>&copy; Jason Morrison 2012 | <a href="/tos">Terms of Service</a> | Privacy Policy </p>
    <% if signed_in? %>
      <section>
      <a href="/sign_out">Sign Out</a>
      </section>
    <% end %>
  </footer>
</div>