<div class="hero-unit">
  <%= image_tag 'logo.png', class: 'logo' %>
  <h1>CLAHub</h1>
  <h2>Contributor License Agreements on GitHub</h2>
  <p>Easily add a <a href="http://en.wikipedia.org/wiki/Contributor_License_Agreement">Contributor License Agreement</a> to your GitHub project, let contributors sign it, and see at a glance which pull request authors have signed your CLA, and which haven&rsquo;t.</p>
  <p><a class="btn btn-primary btn-large" href="/auth/github">Sign in with GitHub to get started &raquo;</a></p>
</div>

<div class="row">
  <div class="span-12">
    <h2>What is a CLA and why do I care?</h2>
      <p class="well">
        A <a href="http://en.wikipedia.org/wiki/Contributor_License_Agreement">contributor license agreement</a> helps ensure that open source contributions stay open.
        Learn more about <a href="why_cla">why people use them, when you should use one, and what it means to sign one</a>.
      </p>
  </div>
</div>

<%= render partial: 'how_it_works' %>
