<h2>Choose a repo to add a license to:</h2>

<ul class="nav nav-pills nav-stacked">
  <% @repos.each do |repo| %>
    <li>
      <a href="#">
        <%= repo.name %>
      </a>
    </li>
  <% end %>
</ul>
