<h2>Terms of Service</h2>
	<p>By accessing the CLAHub website ("Site") or using the services offered by CLAHub ("Services") you agree and acknowledge to be bound by these Terms of Service ("Terms"). If you do not agree to these Terms or to our Privacy Policy, please do not access the Site or use the Services. We reserve the right to change these Terms at any time. We recommend that you periodically check this Site for changes.</p>

<h2>Usage License</h2>
	<p>CLAHub grants you a limited license to access the Site and use the Services in accordance with these Terms and the instructions and guidelines posted on the Site. CLAHub reserves the rights to terminate your license to use the Site and Services at any time and for any reason or in the future charge for commercial usage.</p>

<h2>User Responsibility</h2>
	<p>You are solely responsible for your use of the Site and Services. CLAHub allows for the posting of content to third-party websites. The third-party websites' content, business practices and privacy policies are not under our control, and we are not responsible for the content of any third-party website or any link contained in a third-party website.</p>

<h2>Security</h2>
	<p>CLAHub accesses and stores sensitive website login data as part of its daily operations. While we will take every reasonable precaution to secure these details (including the use of database data encryption), we will not accept any responsibility or liability for actions that may result from this data being intercepted or accessed by an unauthorized third-party.</p>

<h2>Other</h2>	
	<p>CLAHub PROVIDES THE SITE AND SERVICES "AS IS" AND WITHOUT ANY WARRANTY OR CONDITION, EXPRESS, IMPLIED OR STATUTORY. CLAHub SPECIFICALLY DISCLAIMS ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, INFORMATION ACCURACY, INTEGRATION, INTEROPERABILITY OR QUIET ENJOYMENT. Some states do not allow the disclaimer of implied warranties, so the foregoing disclaimer may not apply to you.</p>

	<p>You understand and agree that you use the Site and Services at your own discretion and risk and that you will be solely responsible for any damages that arise from such use. UNDER NO CIRCUMSTANCES SHALL CLAHub BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES OF ANY KIND, OR ANY OTHER DAMAGES WHATSOEVER (HOWEVER ARISING, INCLUDING BY NEGLIGENCE), INCLUDING WITHOUT LIMITATION, DAMAGES RELATED TO USE, MISUSE, RELIANCE ON, INABILITY TO USE AND INTERRUPTION, SUSPENSION, OR TERMINATION OF THE SITE OR SERVICES, DAMAGES INCURRED THROUGH ANY LINKS PROVIDED ON THE SITE AND THE NONPERFORMANCE THEREOF AND DAMAGES RESULTING FROM LOSS OF USE, SALES, DATA, GOODWILL OR PROFITS, WHETHER OR NOT CLAHub HAS BEEN ADVISED OF SUCH POSSIBILITY. YOUR ONLY RIGHT WITH RESPECT TO ANY DISSATISFACTION WITH THIS SITE OR SERVICES OR WITH CLAHub SHALL BE TO TERMINATE USE OF THIS SITE AND SERVICES. Some states do not allow the exclusion of liability for incidental or consequential damages, so the above exclusions may not apply to you.</p>

	<p>CLAHub and you are independent entities, and nothing in the Terms, or via use of the Site or Services, will create any partnership, joint venture, agency, franchise, sales representative, or employment relationship between CLAHub and you.</p>

	<p>These Terms supersede any previous agreement and represent the entire agreement between CLAHub and you. These Terms are governed by the laws of the State of California without reference to conflict of laws principles. If any provision of the Terms is adjudged to be illegal or unenforceable, the continuation in full force of the remainder of the Terms will not be prejudiced, and the illegal or unenforceable provision of the Terms shall be severed accordingly.</p>

<%= render partial: 'footer' %>