<h2>Choose a repo to add a license to:</h2>

<ul class="nav nav-pills nav-stacked">
  <% @repos.each do |repo| %>
    <li>
      <%= link_to repo.name, new_license_path(repo_name: repo.name, user_name: repo.owner.login) %>
    </li>
  <% end %>
</ul>
