<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="#">CLAHub</a>
    <ul class="nav">
      <%= nav_link_to 'Home', home_path %>
      <%= nav_link_to 'Why CLAs?', page_path('why_cla') %>
    </ul>
  </div>
</div>
