<div id="contributing-guidelines">
  <h2>Link from your contributing guidelines</h2>
  <p>
    If you add a CONTRIBUTING or CONTRIBUTING.md file to your project, GitHub will link to it when your contributors create issues or pull requests. <a href="https://github.com/blog/1184-contributing-guidelines">Read more about contributing guidelines on the GitHub blog</a>.
  </p>

  <p>
  You can link to your CLA directly from your CONTRIBUTING or CONTRIBUTING.md file:
  </p>
</div>

<code id="contributing-markup">
  To get started, &lt;a href=&quot;<%= agreement_url(@agreement.user_name, @agreement.repo_name) %>&quot;&gt;sign the Contributor License Agreement&lt;/a&gt;.
</code>
