<div id="signing-users">
  <% if @agreement.signing_users.none? %>
    <h2>No one has signed yet.</h2>
  <% else %>
    <h2>Users who have signed:</h2>
    <ul>
      <% @agreement.signing_users.each do |user| %>
        <li><a href="https://github.com/"><%= user.nickname %></a></li>
      <% end %>
    </ul>
  <% end %>
</div>
