@import "chosen";
@import "bootstrap";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

body.pages-home div.hero-unit {
  padding: 60px 60px 60px 360px;

  img.logo {
    width: 360px;
    height: 360px;
    margin-top: -360px;

    position: relative;
    top: 300px;
    left: -360px;
  }
}


div#how-it-works {
  margin-top: 75px;
}

div#how-it-works.carousel {
  margin-left: auto;
  margin-right: auto;

  h2 {
    margin-left: auto;
    margin-right: auto;
  }

  div.item {
    height: 800px;

    img {
      @extend .img-rounded;
    }
  }
}

div#user_name_repo_name_chzn {
  margin-bottom: 27px;
}

body.agreements-new {
  div#agreement-editor-content {
    textarea {
      resize: vertical;
      height: 220px;
    }
  }
}

body.agreements-show,
body.signatures-create {
  header {
    @extend .row;
  }

  div#agreement-text {
    @extend .well;
    margin-top: 27px;
  }

  button#agreement-submit {
    @extend .btn, .btn-primary, .btn-large;
    @extend .span4;
  }

  a#sign-in-to-agree {
    @extend .btn, .btn-primary, .btn-large;
    @extend .span4;
  }

  a#already-agreed {
    @extend .btn, .btn-success, .btn-large, .disabled;
  }

  div#signing-users {
    margin-top: 27px;

    h2 {
      @extend .row;
    }
  }

  div#contributing-guidelines {
    @extend .row;
    margin-bottom: 20px;
  }

  code#contributing-markup {
    @extend .well, .row;
  }
}

div.navbar.navbar-fixed-top {
  a.brand {
    margin-left: 8px;
    padding-left: 36px;
    background-image: image-url('icon.png');
    background-repeat: no-repeat;
    background-position: left center;
  }
}

footer {
  margin-top: 100px;
  text-align: center;

  ul.footer-links {
    @extend .breadcrumb;

    li.block {
      display: block;
    }
  }
}

div.field-selection-group label {
  display: inline-block;
}

form.form-horizontal .field_with_errors {
  display: inline;
}

.field_with_errors {
  @include formFieldState($errorText, $errorText, $errorBackground);
}
