// $btnPrimaryBackground: #f00;

@import "bootstrap";

// h1 { color: blue; }

body {
  padding-top: 60px;
  padding-bottom: 40px;
}


div#how-it-works.carousel {
  @extend .span8;
  margin-left: auto;
  margin-right: auto;

  h2 {
    margin-left: auto;
    margin-right: auto;
  }

  div.item {
    height: 300px;

    img {
      @extend .img-rounded;
    }
  }
}
