@import "chosen";
@import "bootstrap";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

body.dashboard-show div.hero-unit {
  padding: 60px 60px 60px 360px;

  img.logo {
    width: 360px;
    height: 360px;
    margin-top: -360px;

    position: relative;
    top: 300px;
    left: -360px;
  }
}


div#how-it-works {
  margin-top: 75px;
}

div#how-it-works.carousel {
  margin-left: auto;
  margin-right: auto;

  h2 {
    margin-left: auto;
    margin-right: auto;
  }

  div.item {
    height: 800px;

    img {
      @extend .img-rounded;
    }
  }
}

div#user_name_repo_name_chzn {
  margin-bottom: 27px;
}

body.agreements-new {
  div#agreement-editor-content {
    textarea {
      resize: vertical;
      height: 220px;
    }
  }
}

body.agreements-show {
  header {
    @extend .row;
  }

  div#agreement-text {
    @extend .well;
    margin-top: 27px;
  }

  a#agree-link {
    @extend .btn, .btn-primary, .btn-large;
    @extend .span4;
  }

  a#already-agreed {
    @extend .btn, .btn-success, .btn-large, .disabled;
  }

  div#signing-users {
    margin-top: 27px;

    h2 {
      @extend .row;
    }
  }

  div#contributing-guidelines {
    @extend .row;
    margin-bottom: 20px;
  }

  code#contributing-markup {
    @extend .well, .row;
  }
}
